<div class="index-container">
    <div>
        <h1>Breathe, breathe in the air.</h1>
        <h2>Take a look at nearby areas with the best air quality.</h2>
        <div class="index-button">
        <a href="/signup">Join</a>
        </div>
    </div>
</div>