<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO6vMEzrsXbc43qNmIEzbkTrV7nwhEf_Q&callback=initMap&libraries=&v=weekly"></script>
      
   </head>

   <body>

      <div class="navbar">
         <div>
         <a href="/"><img src="images/moverd-logo.png"></a>
         </div>
         <div>
            
            <a id='signup-button' href="/signup">Signup</a> <span></span>
            <a id='login-button' href="/login">Login</a> 
            <a id='user-button' href="/user-page">User</a> 
         </div>
         <div>
         <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
         </form>
         </div>
      </div>
      

      {{{body}}}


      
      <script src="/js/script.js"></script>
     
      
   </body>
   

</html>