<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO6vMEzrsXbc43qNmIEzbkTrV7nwhEf_Q&callback=initMap&libraries=drawing&v=weekly"></script>
      <script type="text/javascript"></script>

   <body>

      <div class="navbar">
         <div class="logo-container">
         <a href="/"><img src="images/logo-moverd.png"></a>
         </div>
         <div>
            
         </div>
         <div class="menu-buttons">
            <a id="button-menu-signup" href="/signup">Signup</a> <span></span>
            <a id="button-menu-login" href="/login">Login</a> 
            <a id="button-menu-user" class="hide" href="/user-page">User</a> 
         </div>
      </div>
      

      {{{body}}}


      
      <script src="/js/script.js"></script>
     
      
   </body>
   

</html>