
<div class="signupContainer">
<form id="form-style-sign" class="signup" action="/signup" method="post">
 
    <input type="text" name="firstName" placeholder="first name"/>
 

    <input type="text" name="lastName"   placeholder="last name"/>

    <input type="text" name="email"  placeholder="email" />


    <input type="text" name="username"  placeholder="username" />

    <input type="password" name="password"  placeholder="password" />

  
 
  <button>signup</button>
</form>

</div>