<div class="user-container">
<div class="info-container">
  <div class="foto-container">
    <img src={{userOne.avatarUrl}}>
  </div>
  <div class="user-info">
    <h3>{{userOne.username}}</h3>
    <form action="/user-info" method="post">
    <button>See and modify info</button>
    </form>
  </div>
  
</div>
<div id="map"></div>
</div>



